In [1]:
rdd = sc.parallelize(range(100))

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20200501165831-0000
KERNEL_ID = 1adcbdb4-25da-47ab-87c6-d76d0df06e96

In [3]:
rdd.map(lambda x : x+1).take(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
sc.parallelize(range(1,101)).reduce(lambda a,b: a+b)

5050

In [8]:
def gt50(i):
    if i > 50:
        return True
    else:
        return False

In [9]:
print(gt50(4))
print(gt50(51))

False
True

In [10]:
def gt50(i):
    return i > 50

In [11]:
gt50 = lambda i: i > 50

In [12]:
print(gt50(4))
print(gt50(51))

False
True

In [13]:
#let's shuffle our list to make it a bit more interesting
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

In [14]:
rdd.filter(gt50).collect()

[66,
 84,
 71,
 80,
 62,
 56,
 98,
 93,
 63,
 52,
 78,
 61,
 67,
 79,
 57,
 59,
 77,
 73,
 91,
 96,
 54,
 55,
 95,
 85,
 60,
 89,
 87,
 69,
 99,
 64,
 83,
 65,
 97,
 76,
 92,
 75,
 68,
 70,
 58,
 74,
 88,
 53,
 94,
 72,
 81,
 51,
 86,
 82,
 90]

In [15]:
rdd.filter(lambda i: i > 50).collect()

[66,
 84,
 71,
 80,
 62,
 56,
 98,
 93,
 63,
 52,
 78,
 61,
 67,
 79,
 57,
 59,
 77,
 73,
 91,
 96,
 54,
 55,
 95,
 85,
 60,
 89,
 87,
 69,
 99,
 64,
 83,
 65,
 97,
 76,
 92,
 75,
 68,
 70,
 58,
 74,
 88,
 53,
 94,
 72,
 81,
 51,
 86,
 82,
 90]

In [17]:
rdd.filter(lambda x: x>50 ).filter(lambda x: x>70 ).take(100)

[84,
 71,
 80,
 98,
 93,
 78,
 79,
 77,
 73,
 91,
 96,
 95,
 85,
 89,
 87,
 99,
 83,
 97,
 76,
 92,
 75,
 74,
 88,
 94,
 72,
 81,
 86,
 82,
 90]

In [18]:
rdd = sc.parallelize(range(100))
rdd2 = range(100)

In [26]:
sc.parallelize(range(100)).count()

100

In [24]:
len(range(9999999999))

9999999999

In [38]:
### Spark
from pyspark.sql import SQLContext

In [40]:
sparkSession = SQLContext.getOrCreate(sc).sparkSession

In [43]:
cloudandata = sparkSession.read.format("com.cloudant.spark"). \
option("cloudant.host", ""). \
option("cloudant.username", ""). \
option("cloudant.password", ""). \
load("washingflat")

Py4JJavaError: An error occurred while calling o242.load.
: java.lang.ClassNotFoundException: Failed to find data source: com.cloudant.spark. Please find packages at http://spark.apache.org/third-party-projects.html
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:657)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:194)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:178)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:819)
Caused by: java.lang.ClassNotFoundException: com.cloudant.spark.DefaultSource
	at java.net.URLClassLoader.findClass(URLClassLoader.java:591)
	at java.lang.ClassLoader.loadClassHelper(ClassLoader.java:944)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:889)
	at java.lang.ClassLoader.loadClass(ClassLoader.java:872)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20$$anonfun$apply$12.apply(DataSource.scala:634)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20$$anonfun$apply$12.apply(DataSource.scala:634)
	at scala.util.Try$.apply(Try.scala:192)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20.apply(DataSource.scala:634)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$20.apply(DataSource.scala:634)
	at scala.util.Try.orElse(Try.scala:84)
	at org.apache.spark.sql.execution.datasources.DataSource$.lookupDataSource(DataSource.scala:634)
	... 13 more

In [44]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2')])

# let's have a look what's inside
df.show()

# let's print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

In [46]:
# register dataframe as query table
df.createOrReplaceTempView('df_view')

# execute SQL query
df_result = spark.sql('select value from df_view where id=2')

# examine contents of result
df_result.show()

# get result as string
df_result.first().value

+------+
| value|
+------+
|value2|
+------+

'value2'

In [48]:
df.head()

Row(id=1, value='value1')

## Mean

In [26]:
rdd = sc.parallelize([101]+list(range(100)))

In [27]:
sum = rdd.sum()
n = rdd.count()
mean = sum/n
mean

50.00990099009901

## Median

In [31]:
SortedAndIndexed = rdd.sortBy(lambda x : x).zipWithIndex().map(lambda val: (val[1], val[0])).collect()
n = len(SortedAndIndexed)
if (n % 2 == 1):
    index = (n-1)/2
    print (SortedAndIndexed.lookup(index))
else:
    index1 = (n/2)-1
    index2 = n/2
    value1 = SortedAndIndexed.lookup(index1)
    value2 = SortedAndIndexed.lookup(index2)
    print ((value1+value1)/2)

AttributeError: 'list' object has no attribute 'lookup'

In [21]:
SortedAndIndexed.index(index1)

ValueError: 51.0 is not in list

In [25]:
SortedAndIndexed

[(0, 0),
 (1, 1),
 (2, 2),
 (3, 3),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10),
 (11, 11),
 (12, 12),
 (13, 13),
 (14, 14),
 (15, 15),
 (16, 16),
 (17, 17),
 (18, 18),
 (19, 19),
 (20, 20),
 (21, 21),
 (22, 22),
 (23, 23),
 (24, 24),
 (25, 25),
 (26, 26),
 (27, 27),
 (28, 28),
 (29, 29),
 (30, 30),
 (31, 31),
 (32, 32),
 (33, 33),
 (34, 34),
 (35, 35),
 (36, 36),
 (37, 37),
 (38, 38),
 (39, 39),
 (40, 40),
 (41, 41),
 (42, 42),
 (43, 43),
 (44, 44),
 (45, 45),
 (46, 46),
 (47, 47),
 (48, 48),
 (49, 49),
 (50, 50),
 (51, 51),
 (52, 52),
 (53, 53),
 (54, 54),
 (55, 55),
 (56, 56),
 (57, 57),
 (58, 58),
 (59, 59),
 (60, 60),
 (61, 61),
 (62, 62),
 (63, 63),
 (64, 64),
 (65, 65),
 (66, 66),
 (67, 67),
 (68, 68),
 (69, 69),
 (70, 70),
 (71, 71),
 (72, 72),
 (73, 73),
 (74, 74),
 (75, 75),
 (76, 76),
 (77, 77),
 (78, 78),
 (79, 79),
 (80, 80),
 (81, 81),
 (82, 82),
 (83, 83),
 (84, 84),
 (85, 85),
 (86, 86),
 (87, 87),
 (88, 88),
 (89, 89),
 (90, 90),
 (91, 91),
 (92, 92),
 (93, 93),
 (94, 94),
 (95, 95),
 (96, 96),
 (97, 97),
 (98, 98),
 (99, 99),
 (100, 101)]